*{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px
}

span{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: oblique;margin-top: 10px;
}